{% extends 'base.html' %}

{% block content %}
    <div class="article_info">
        <h4 class="text-center">{{ article_obj.title }}</h4>
        <div class="cont">
            {{ article_obj.content |safe }}
        </div>
        <div id="div_digg">
            <div class="diggit action" >
                <span class="diggnum" id="digg_count">1</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">0</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>
        <script>
            $("#div_digg .action").click(function () {
                var is_up=$(this).hasClass("diggit")
                alert(is_up);
            })
        </script>
    </div>
{% endblock %}