{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <div class="article_info">
        <h4 class="text-center">{{ article_obj.title }}</h4>
        <div class="cont">
            {{ article_obj.content |safe }}
        </div>
        <div class="clearfix">
            <div id="div_digg">
                <div class="diggit action">
                    <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
                </div>
                <div class="buryit action">
                    <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
                </div>
                <div class="clear"></div>
                <div class="diggword" id="digg_tips" style="color: red;"></div>
            </div>
        </div>

        <div class="commnets">
            <p>评论列表</p>
            <ul class="comment_list list-group">
                {% for comment in comtent_list %}
                    <li class="list-group-item">
                        <div>
                            <a href=""># {{ forloop.counter }}楼</a> &nbsp;&nbsp;
                            <span>{{ comment.create_time|date:"Y-m-d H:i" }}</span>
                            <a href=""><span>{{ comment.user.username }}</span></a>
                            <a href="" class="pull-right repley_btn">回复</a>
                        </div>
                        <div class="comment_con">
                            <p>{{ comment.content }}</p>
                        </div>
                    </li>
                {% endfor %}

            </ul>
            <p>发表评论</p>
            <p>
                昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                          value={{ request.user.username }}>
            </p>
            <p>平路内容:</p>
            <textarea name="" id="content_content" cols="60" rows="10"></textarea>
            <p>
                <button class="btn btn-default comment_btn">提交评论</button>
            </p>
        </div>
        <script>
            //点赞请求
            $("#div_digg .action").click(function () {
                var is_up = $(this).hasClass("diggit");
                $obj = $(this).children("span");
                $.ajax({
                    url: "/digg/",
                    type: "post",
                    data: {
                        "csrfmiddlewaretoken": $("[name = 'csrfmiddlewaretoken']").val(),
                        'is_up': is_up,
                        "article_id": "{{ article_obj.pk }}",
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.state) {
                            var val = parseInt($obj.text());
                            $obj.text(val + 1);
                            // 局部刷新
                            //if(is_up){
                            //   var val = parseInt($("#digg_count").text());
                            //  $("#digg_count").text(val + 1);
                            //}else {
                            // var val = parseInt($("#bury_count").text());
                            // $("#bury_count").text(val + 1);
                            //}
                        } else {
                            var val = data.handled ? "您已经推荐过" : "您已经反对过过";
                            $("#digg_tips").html(val);
                            //if (data.handled){
                            //    $("#digg_tips").html("您已经推荐过")
                            //}else {
                            //    $("#digg_tips").html("您已经反对过过")
                            //}
                            setTimeout(function () {
                                $("#digg_tips").html("")
                            }, 1000)
                        }
                    }
                })
            });
            //评论请求
            $(".comment_btn").click(function () {
                var pid = ""
                var content = $("#content_content").val();

                $.ajax({
                    url: "/comment/",
                    type: "post",
                    data: {
                        "csrfmiddlewaretoken": $("[name = 'csrfmiddlewaretoken']").val(),
                        "article_id": "{{ article_obj.pk }}",
                        "commtent": content,
                        "pid": pid,
                    },
                    success: function (data) {
                        console.log(data);

                        var create_time = data.create_time;
                        var username = data.username;
                        var content = data.content;

                        var s = `<li class="list-group-item">
                                    <div>
                                        <span>${create_time}</span>
                                        <a href=""><span>${username}</span></a>
                                    </div>
                                    <div class="comment_con">
                                        <p>${content}</p>
                                    </div>
                                </li> `;

                        $("ul.comment_list").append(s);
                        //清空评论框
                        $("#content_content").val("");
                    }})});
            // 回放按钮事件
            $(".repley_btn").click(function () {
                $("#content_content").focus();
                var val = "@"+ $(this).attr("username") + "\n";
                $("#content_content").val(val);
            })


        </script>
    </div>
{% endblock %}