<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/css/home_tite.css">
    <link rel="stylesheet" href="/static/blog/css/article_detait.css">
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>

</head>
<body>
<div class="header">
    <div class="content">
        <p class="title">
            <span>{{ blog.title }}</span>
            <a href="" class="bachend">管理</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 menu">

            {#            <div class="panel panel-warning">#}
            {#                <div class="panel panel-heading">我的标签</div>#}
            {#                <div class="panel-body">#}
            {#                    {% for tag in tag_list %}#}
            {#                        <p><a href="/{{ username }}/tag/{{ tag.0 }}">{{ tag.0 }}({{ tag.1 }})</a></p>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="panel panel-danger">#}
            {#                <div class="panel panel-heading">随笔分类</div>#}
            {#                <div class="panel-body">#}
            {#                    {% for cate in cate_list %}#}
            {#                        <p><a href="/{{ username }}/category/{{ cate.0 }}">{{ cate.0 }}({{ cate.1 }})</a></p>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="panel panel-success">#}
            {#                <div class="panel panel-heading">随笔归档</div>#}
            {#                <div class="panel-body">#}
            {#                {% for date in date_list%}#}
            {#                    <p><a href="/{{ username }}/archive/{{ date.0 }}">{{ date.0 }}({{ date.1 }})</a></p>#}
            {#                {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
            {% load my_tags %}
            {% get_classification_style username %}
        </div>
        <div class="col-md-9">
            {% block content %}

            {% endblock %}

        </div>
    </div>
</div>

</div>
</body>
</html>