<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/static/blog/css/bootstrap.min.css">
</head>
<body>
<h3>登录页面</h3>
<div class="container">
    <div class="col-md-6 col-lg-offset-3">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="user">用户名</label>
                <input type="text" id="user" class="form-control">
            </div>
            <div class="form-group">
                <label for="pwd">密码</label>
                <input type="password" id="pwd" class="form-control">
            </div>

            <div class="form-group">
                <label for="pwd">验证码</label>
                <div class="row">              {#  图形验证码#}
                    <div class="col-md-6">
                        <input type="text" id="valid_code" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <img width="200" height="40" id="valid_code_img" src="/blog/get_validCode.img" alt="">
                    </div>
                </div>
            </div>


            <input type="button" class="btn btn-default login_btn  btn-primary " value="subimt"> <span class="error"></span>
        </form>
    </div>
</div>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script>
    {#// 刷新验证码#}
    $("#valid_code_img").click(function () {
        $(this)[0].src += ""
    });

    {#//登录验证#}
    $(".login_btn").click(function () {
            $.ajax(
                {
                    url: "",
                    type: "post",
                    data: {
                        user: $("#user").val(),
                        pwd: $("#pwd").val(),
                        valid_code: $("#valid_code").val(),
                        csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),  //token 验证值
                    },
                  success:function (data) {
                        console.log(data)

                      if (data.user){
                          location.href = "/blog/index/"
                      } else {
                          $(".error").text(data.msg).css({"color":"red","margin-left":"10px"})
                      }

                  }
                }
            )
        }
    );
</script>
</body>
</html>